client/
administration_notebooks/
prototypes/
art/
pandas_web_client/
conf_files/
/**/chromedriver
/**/users.json
Start.sh
Workshop/
*~
/**/mysql_credential.json
/**/node_modules/
/**/public/
backups/
/**/temporal_images/
/**/download_history/
/**/src/serverInfo.js
./pandas_web_client/build/
/**/user_state.json
/**/data_logs
/**/*.log
/**/previous_test_data.json
/**/uncomplete_downloads
/**/build
/**/last_content_change_request.json
/**/__pycache__/
/**/*.pyc
Server/MediaCrawler/third-party-dependencis/
*.dia.autosave
/**/.vscode/
/**/.svelte-kit/
/**/operation_data/
/**/.env
*.code-workspace
/**/generic.go
database/backups
tmp.sql/
*.backup.sql
database/Dockerfile
/**/pandasmedia.db_users.sql
*.drawio.dtmp


Start.sh
Server/PandasAdminTool/pandas_fixer_tool.egg-info/PKG-INFO


/**/secretfile_*
